*{ 
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px; 
}
@font-face { font-family: montse-regular; 
    src: url('./assets/Montserrat/static/Montserrat-Regular.ttf'); } 
@font-face { font-family: montse-bold; 
    src: url('./assets/Montserrat/static/Montserrat-Bold.ttf'); }

body{
    background: linear-gradient(#4f5d75, #2d3142);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}
.card{
    background-color: #fff;
    height: 480px;
    width: 340px; 
    border-radius: 16px;
    padding: 16px;
    margin: 40px;
    text-align: center;
}

#profile-pic{
    width: 180px;
    height: 180px;
    border-radius: 150px;
    display: block;
    position: absolute;
    margin-top: -100px;
    margin-left: 64px;
}

h1{ 
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-top: 96px;
    font-size: 28px;
    color: #3c7ade;
    font-family: montse-bold;
}
h2{
    padding: 8px;
    font-size: 16px;
    color: #717777;
    font-family: montse-regular;
}
p.description{
    padding: 8px;
    color: #717777;
    font-size: 12px;
    font-family: montse-regular;
}
hr{
    margin: 8px;
}
p.qua{
    padding: 2px;
    color: #2d3142;
    font-family: montse-bold;
}
p.mini{
    padding: 2px;
    color: #2d3142;
    font-size: 12px;
    font-family: montse-regular;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 16px;
    margin-bottom: 16px;

}
.iconito{
    padding-left: 40px
}
#icon-pic{
    width: 50px;
    height: 50px;
    border-radius: 150px;
    border-width: 0;
    box-shadow: 2px 2px 8px #717777;

}
#button{
  background-color: #3c7ade; 
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-right: 8px;
  padding: 14px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#flatButton{
    background-color: #fff; 
    border-radius: 4px;
    border: 2px solid #3c7ade;
    color: #3c7ade;
    padding: 12px 22px;
    margin-left: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #icon-pic:hover{
    transform: scale(1.08);
  }
  #button:hover{
    transform: scale(1.05);
  }
  #flatButton:hover{
    transform: scale(1.05);
  }